body {
  background-color: #111827;
  margin: 0;
  padding: 0;
  color: #f1f5f9;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

h2 {
  color: #f1f5f9;
  margin-left: 16px;
  font-size: 20px;
}

h3 {
  font-size: 22px;
  padding-left: 16px;
  margin-top: 50px;
}

h4 {
  color: #f1f5f9;
  margin-left: 14px;
}

.btn-add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.btn-add>svg {
  margin-right: 2px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
}

.btn-add {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  gap: 5px;
}

button {
  padding: 10px;
  background-color: #122864;
  color: #f1f5f9;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #043f7e;
}

.add-contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.btn-add-form {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.input-add-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  gap: 3px;
}

.detail-contact {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.detail-contact-btn {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding: 16px;
}

.btn-updated {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.input-contact {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 12px;
  gap: 3px;
}

.btn-actions {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  gap: 8px;
}

.btn-updated>svg {
  margin-right: 2px;
  margin-left: -10px;
  width: 50px;
  height: 20px;
}

.btn-update {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  gap: 5px;
}

.btn-delete {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  gap: 5px;
}

.btn-deleted>svg {
  margin-right: 2px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
}